@model List<ContentModule>
@{
    ViewData["Title"] = "Главная";
}

@foreach (var item in Model)
{
    <div class="media" style="margin: 10px;">
        <div class="media-body">
            <h4 class="media-heading" >@item.Title</h4>
            @item.Description
        <ul>
            @foreach (var s in item.Sections)
            {
                <li>@s.Title</li>
            }
        </ul>
        </div>
    </div>
}

